.Modal {
    position: fixed;
    z-index: 500;
    width: 50%;
    max-width: 450px;
    min-width: 300px;
    border-radius: 0.7em;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 20%;
    box-sizing: border-box;
    transition: all 0.2s ease-out;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #FAFAFA;
	box-shadow: 0em 0em 3em 0.1em rgba(0,0,0,0.3);
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}

.ClearButton {
    align-self: right;
    position: absolute;
    top: 2%;
    left: 91%;
    margin-left: auto;
}